{% extends "system.html" %}

{% block system %}
<div class="ui items">

  <a href="#" class="item column-4">
    <div class="image">
      <img src="http://placehold.it/300x200">
      <span class="ui ribbon label">Eletrônicos</span>
    </div>
    <div class="content">
      <h3 class="name">Playstation 4</h3>
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut venenatis mi in ligula blandit mollis.</p>
      <span class="meta">3 dias atrás</span>
    </div>
  </a>

  <a href="#" class="item column-4">
    <div class="image">
      <img src="http://placehold.it/300x200">
      <span class="ui ribbon label">Eletrônicos</span>
    </div>
    <div class="content">
      <h3 class="name">Playstation 4</h3>
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut venenatis mi in ligula blandit mollis.</p>
      <span class="meta">3 dias atrás</span>
    </div>
  </a>

  <a href="#" class="item column-4">
    <div class="image">
      <img src="http://placehold.it/300x200">
      <span class="ui ribbon label">Eletrônicos</span>
    </div>
    <div class="content">
      <h3 class="name">Playstation 4</h3>
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut venenatis mi in ligula blandit mollis.</p>
      <span class="meta">3 dias atrás</span>
    </div>
  </a>

</a>
{% endblock %}