<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Quero.me</title>
    <link rel="stylesheet" type="text/css" href="../../public/styles/querome.css" media="all">
  </head>
  <body data-dispatcher="products#index">
    <header>
      <div class="content">
        <a href="/" class="logo">
          <img src="../../public/images/system/logo.png" alt="Quero.Me">
        </a>
        
        <div class="user">
          <img src="https://graph.facebook.com/caiotarifa/picture?size=50x50" alt="Caio Tarifa">
          <span class="name">Caio Tarifa</span>
          <ul class="options">
            <li><a href="/account">Minha conta</a></li>
            <li><a href="/logout">Desconectar</a></li>
          </ul>
        </div>
      </div>
    </header>

    <main class="content">
      
      <div class="products">
        <!-- FOR -->
        <div class="ui product">
          <span class="notification">3</span>
          <div class="image">
            <img src="../../public/images/system/ps.jpg" alt="Product Name">
            <span class="category">Video-game</span>
          </div>
          <h3 class="title">Playstation 4</h3>
          <span class="price">R$ 4.000,00</span>
        </div>
        <!-- END FOR -->
        
        <div class="ui product">
          <span class="notification">3</span>
          <div class="image">
            <img src="../../public/images/system/ps.jpg" alt="Product Name">
            <span class="category">Video-game</span>
          </div>
          <h3 class="title">Playstation 4</h3>
          <span class="price">R$ 4.000,00</span>
        </div>
        
        <div class="ui product">
          <span class="notification">3</span>
          <div class="image">
            <img src="../../public/images/system/ps.jpg" alt="Product Name">
            <span class="category">Video-game</span>
          </div>
          <h3 class="title">Playstation 4</h3>
          <span class="price">R$ 4.000,00</span>
        </div>
        
        <div class="ui product">
          <span class="notification">3</span>
          <div class="image">
            <img src="../../public/images/system/ps.jpg" alt="Product Name">
            <span class="category">Video-game</span>
          </div>
          <h3 class="title">Playstation 4</h3>
          <span class="price">R$ 4.000,00</span>
        </div>
        
        <div class="ui product">
          <span class="notification">3</span>
          <div class="image">
            <img src="../../public/images/system/ps.jpg" alt="Product Name">
            <span class="category">Video-game</span>
          </div>
          <h3 class="title">Playstation 4</h3>
          <span class="price">R$ 4.000,00</span>
        </div>
        
        <div class="ui product">
          <span class="notification">3</span>
          <div class="image">
            <img src="../../public/images/system/ps.jpg" alt="Product Name">
            <span class="category">Video-game</span>
          </div>
          <h3 class="title">Playstation 4</h3>
          <span class="price">R$ 4.000,00</span>
        </div>
      </div>

    </main>

    <footer>
    </footer>
  </body>
</html>