{% extends 'base.html' %}
{% block title %}It works!{% endblock %}

{% block content %}
<h1>Bem vindo!</h1>
<p>
    {%if request.user.is_authenticated%}
            Olá, {{request.user.first_name}} :)
            <p>
                Estes são seus desejos cadastrados:
                <ul>
                    {% for w in request.user.wishlist_set.all %}
                        <li>{{ w.product }} - {{ w.image }}</li>
                        <a href="{% url wish %}">Cadastre + desejos!</a>
                    {% empty %}
                        Não há produtos na sua wishlist. <a href="{% url "wish" %}">Cadastre agora!</a>
                    {% endfor %}
                </ul>
            </p>
            Fazer <a href="{%url logout%}">Logout</a>
    {%else%}
        Olá, faca seu <a href="{%url login%}">Login</a> ou <a href="{%url register%}">Cadastre-se!</a>
    {%endif%}
</p>

<ul>
  <li><a href="https://github.com/django-nonrel/django-dbindexer">django-dbindexer</a>: Emulates extra database features beyond its native API (filters like __iexact, __endswith and simple JOINs); those features are used by some Django modules (admin, auth)</li>
  <li><a href="https://github.com/django-nonrel/django-permission-backend-nonrel">django-permission-backend-nonrel</a>: Authentication backend that works with non-relation databases</li>
  <li><a href="https://github.com/django-nonrel/nonrel-search">nonrel-search</a>: A simple full-text search engine for App Engine and other non-relational DBs</li>
  <li><a href="http://readthedocs.org/docs/django-nonrel/en/latest/content/django-mediagenerator%20asset%20manager.html">django-mediagenerator</a>: Combines and compresses your JS and CSS files</li>
  <li><a href="http://readthedocs.org/docs/django-nonrel/en/latest/content/django-filetransfers%20-%20File%20upload-download%20abstraction.html">django-filetransfers</a>: Generic API for file uploads/downloads (e.g. via App Engine Blobstore)</li>
  <li><a href="http://readthedocs.org/docs/django-nonrel/en/latest/content/All%20Buttons%20Pressed%20-%20CMS%20&amp;%20blog%20for%20Django-nonrel.html">allbuttonspressed</a>: The simple CMS/blog that powers the original <a href="http://www.allbuttonspressed.com">Django-nonrel website</a></li>
  <li><a href="https://github.com/django-nonrel">...and other nonrel projects...</a></li>
</ul>

<p>
Finally, take a look at the apps listed on <a href="http://djangopackages.com/">Django Packages</a>. Many simple Django apps (e.g., <a href="https://bitbucket.org/ubernostrum/django-registration">django-registration</a>) should work unmodified. If you want to use <a href="http://robhudson.github.com/django-debug-toolbar/">django-debug-toolbar</a> you need to disable the SQLDebugPanel in your settings.
</p>
{% endblock %}
