<!doctype html>

<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>quero.me | minha lista</title>
  <link rel="stylesheet" href="/styles/querome-system.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic">
  <script src="bower_components/modernizr/modernizr.js"></script>
</head>

<body>

<header class="header">
  <div class="page-content">
    <div class="column-9">
      <a href="{% url home %}" class="logo">
        <img src="/images/logo.png" alt="quero.me">
      </a>
    </div>

  {%if request.user.is_authenticated%}
    <div class="add column-2">
      <a href="#" class="ui button green"><i class="icon icon-plus"></i> Quero</a>
    </div>

    <div class="user column-1">
        <img src="http://graph.facebook.com/caiotarifa/picture?size=64x64" alt="Caio Tarifa">
    </div>
  </div>

  {% endif %}
</header>

<main class="page-content">

{% block system %}
{% endblock %}

</main>
  
<footer class="footer">
  <div class="page-content">
    Feito com <i class="icon icon-heart"></i> no Google Developer Bus.
  </div>
</footer>

<script src="scripts/querome.js"></script>
</body>
</html>
